.col-no {
  width: 5%;
}
.col-date {
  width: 15%;
}
.col-asset {
  width: 15%;
}
.col-status {
  width: 15%;
}
.col-action {
  width: 15%;
}
.col-employee {
  width: 15%;
}
.col-notes {
  width: 20%;
}
